html,body,*{
    margin: 0;
    padding: 0;
    cursor: none;
    scroll-behavior: smooth;
    
}

body{
    background-color: #1F1F1F;
    margin: 0 auto;
    min-height: 400px;
    max-width: 2000px;
    font-family: 'Noto Sans', sans-serif;
    
    
}
.newElement{
    position: absolute;
    border-radius: 50%;
    background-color: #6D6D6D;
    height: 30px;
    opacity: .05;
    width: 30px;
    animation: increase 1s  cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(70, 70, 70, 0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    box-shadow: 0px 0px 206px 70px rgba(4, 255, 135, 0.25);
    background-color: #24ff7c;
}
.cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    top:30px;
    left: 50%;
    background-color: rgb(173, 173, 173);
    z-index: -2;
}
.cursor-lazy{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #24ff7c;
    transform: translate3d(-50%,-50%,0);
    top:30px;
    left: 50%;
    transition: 0.1s ease-out;
    z-index: -2;
}


header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.head__logo{
    width: 50%;
    display: flex;
    align-items: center;
    
}
.head__logo button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    /* cursor: pointer; */
    height: 50px;
    width: 50px;
    transition: .4s;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.head__logo button:hover{
    fill: rgb(32, 19, 19);
    background-color: #06FF6B;
    border-radius: 50%;
    transition: .4s;
    height: 50px;
    width: 50px;

}

.head__logo button svg{
    width: 30px;
    height: 30px;
    fill: #fff;
}

.head__logo p{
    color: #fff;
    font-size: 20px;
    
}
.head__nav{
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}
.head__nav ul{
    list-style: none;
    
}
.head__nav ul li{
    display: inline-block;
    position: relative;
    margin: 0 30px;
}
.head__nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #06FF6B;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .3s;
}
.head__nav ul li:hover::after{
    width: 100%;
    transition: .3s;
}
.head__nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    
}
/* continer */
.imgBgi{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    background-image: url('assets/angular_whiteTransparent.png');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.01;
}
.all{
    display: flex;
    height: 75vmin;
    width: 100%;
    min-height: 400px;
}

.nav_size{
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 600px;
    width: 10%;
}
.pos{
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
main{
    width: 65%;
    margin: 0 auto;
    display: flex;
    min-height: 300px;
    justify-content: space-between;
}
.main__text{
    width: 50%;
    margin-top: 60px;
}
.ityped{
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;    
}
.ityped .test{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: .4ch;
    color: #fff;
  
}
.ityped-cursor{
    padding-left: 3px;
    font-size: 4rem;
    opacity: 0;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
    animation-direction: alternate;
}
.main__text p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color:#828282;
}
.main__image{
    width: 50%;
    position: relative;
}
.main__image__triangle{
    position: absolute;
    width: 200px;
    height: 190px;
    top: 35%;
    left: 50%;
}
.main__image__circle{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 58%;
    left: 75%;
    animation:round  2s infinite  linear  ;
}
.btn__down{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}
.main__nav{
    height: 200px;
    width: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 0px 16px 5px rgba(4, 255, 135, 0.25);
}

.main__nav ul {
    list-style-type: none;
    
}
.main__nav ul li {
   margin-top: 15px;
}
.main__nav ul li a img{
    width: 30px;
}
.btn__down{
    animation: upp 1s  infinite  linear ;
}
/* ABOUT ME */
.about{
    min-height: 300px;
}
.about__info{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.about__info h1 {
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.about__info p {
    margin: 0;
    color: #6D6D6D;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.about__content{
    width: 60%;
    margin: 30px auto;
    display: flex;
    
}
.about__content__photo{
    width: 40%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__content__photo img{
    width: 235px;
    height: 235px;
    border-radius: 50%;
}
.about__content__desciption{
    width: 60%;
    min-height: 350px;
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.about__content__desciption .content{
    width: 70%;
    font-size: 18px;
    color: #7A7A7A;
}
.about__content__desciption .stats{
    width: 100%;
    display: flex;
    justify-content: flex-start
}
.about__content__desciption .stats .forAll{
    width: 30%;
    text-align: center;
    margin-top: 20px;
}
.about__content__desciption .stats .forAll p:nth-child(1){
    color: #06FF6B;
    font-size: 1.8rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.about__content__desciption .stats .forAll p:nth-child(2){
    color: #7A7A7A;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
 
}
/* skills */
.skills{
    min-height: 300px;
}
.skill__info{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.skill__info h1 {
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.skill__info p{
    margin: 0;
    color: #6D6D6D;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.skill_title{
    width: 70%;
    margin: 0px auto;
}
.skill_title_content{
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
}
.skill_title_content img{
    width: 28px;
    height: 28px;
}
.skill_title_content ul{
    list-style-type: none;
    margin-left: 10px;
}
.skill_title_content li:nth-child(1){
    font-size: 20px;
    color:#fff;
}
.skill_title_content li:nth-child(2){
    font-size: 15px;
    color:#6D6D6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.skill__stats{
    width: 65%;
    margin: 20px auto;
    display: flex;
    align-self: center;
    
}
.skill__stats__box{
    width: 50%;
}
.skill__stats .item{
    width: 100%;
    margin-top: 30px;
}
.skill__stats .item__text{
    display: flex;
    justify-content: space-between;
}
.skill__stats .item__text p{
    color: #fff;
    font-size: 20px;
}
.skill__stats .item__line{
    margin-top: 2px;
    height: 4px;
    background-color: #4A4A4A;
}
.skill__stats .item__line_html{
    width: 0%;
    height: 100%;
    background-color: #06FF6B;
}
.skill__stats .item__line_css{
    width: 0%;
    height: 100%;
    background-color: #06FF6B;
}
.skill__stats .item__line_js{
    width: 0%;
    height: 100%;
    background-color: #06FF6B;
}
.skill__stats .item__line_ang{
    width: 0%;
    height: 100%;
    background-color: #06FF6B;
}
.skill__stats .item__more{
    display: block;
    box-sizing: border-box;
    margin: 30px auto;
    width: 150px;
    padding: 15px 0;
    background-color: transparent;
    border: 1px solid #06FF6B;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
   
}
.item__more span{
    box-sizing: border-box; 
    position: absolute;
    background-color: #06FF6B;
    width: 0;
    height: 103%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .3s;
  
}
.skill__stats .item__more:hover span{
    box-sizing: border-box;
    width: 101%;
    transition: .3s;
}
.skill__stats .item__more:hover{
     border: none;
    box-sizing: border-box;
}
.stlCode{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
   
}
.stlCode img{
    transform: rotate(40deg);
    opacity: .015;
    width: 200px;
    height: 200px;
}
/* qualification */
.qualification{
    min-height: 300px;
    position: relative;
}
.qualification__info{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.qualification__info h1 {
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.qualification__info p{
    margin: 0;
    text-align: center;
    color: #6D6D6D;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.qualification__switcher{
    display: flex;
    width: 30%;
    margin: 15px auto;
}
.qualification__switcher__education,.qualification__switcher__work{
    display: flex;
    justify-content: center;
    width: 50%;
}
.qualification__switcher__education button,.qualification__switcher__work button{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.qualification__switcher__education button svg,.qualification__switcher__work button svg{
    fill: #06FF6B;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
.qualification__box{
    display:flex;
    width: 45%;
    margin: 0 auto;
}
.qualification__box__left{
    width: 45%;
    justify-content: flex-end;
}
.qualification__box__left__item p:nth-child(1){
    color: #fff;
    text-align: end;
    padding-right: 20px;
}
.qualification__box__left__item p:nth-child(2){
    color: #6D6D6D;
    text-align: end;
    font-size: 15px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.qualification__box__left__item p svg{
    width: 20px;
    height: 30px;
    margin-right: 5px;
}
.qualification__box__left__item p:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #6D6D6D;
    text-align: end;
    font-size: 15px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.qualification__box__left__item:nth-child(2){
    margin-top: 120px;
}
.smile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.smile svg{
    fill:#9C9C9C;
    margin-left: 5px;
}
.qualification__box__mid{
    width: 10%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.qualification__box__mid__line{
    width: 4px;
    height: 100%;
    background-color: #4A4A4A;
    position: relative;
}
.qualification__box__mid__line__circle:nth-child(1){
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-0);
    width: 25px;
    height: 25px;
    background-color: #06FF6B;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 1);
}
.qualification__box__mid__line__circle:nth-child(2){
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-35%);
    width: 25px;
    height: 25px;
    background-color: #06FF6B;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 1);
}
.qualification__box__mid__line__circle:nth-child(3){
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-70%);
    width: 25px;
    height: 25px;
    background-color: #06FF6B;
    border-radius: 50%;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 1);
}


.qualification__box__right{
    width: 45%;
    display: flex;
    justify-content: flex-start;
}
.qualification__box__right__item{
    margin-top: 100px;
}
.qualification__box__right__item p svg{
    width: 20px;
    height: 30px;
    margin-right: 5px;
}
.qualification__box__right__item p:nth-child(1){
    color: #fff;
    text-align: end;
    padding-right: 20px;
}
.qualification__box__right__item p:nth-child(2){
    color: #6D6D6D;
    font-size: 15px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.qualification__box__right__item p:nth-child(3){
    display: flex;
    align-items: center;
    color: #6D6D6D;
    text-align: end;
    font-size: 15px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
/* work */
.qualification__work{
    display:none;
    width: 45%;
    margin: 0 auto;
}
.qualification__work h1{
    width: 100%;
    margin-top: 30px;
    color: #6D6D6D;
    font-size: 1rem;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.starOne{
    position: absolute;
    width: 200px;
    height: 200px;
    left: -80px;
    top: 70%;
    opacity: 0.1;
    transform: rotate(-30deg);
}
.starTwo{
    position: absolute;
    width: 230px;
    height: 230px;
    right: 100px;
    top: 20%;
    transform: rotate(30deg);
    opacity: 0.1;
}
/* portfolio */
.portfolio{
    min-height: 300px;
    position: relative;
}
.portfolio__info{
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
.portfolio__info h1{
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.portfolio__info p{
    margin: 0;
    text-align: center;
    color: #6D6D6D;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; 
}
/* swiper */
.mySwiper{
    width: 65%;
    margin: 40px auto;
    height: 250px;
    z-index: 2;
}
.swiper-slide{
    display: flex;
    justify-content: center;

}
.swiper-slide__photo {
    width: 50%;
    height: 100%;
 
}
.swiper-slide__photo img{
    border-radius: 10px;
    width: 400px;
    height: 200px;
    border: 1px solid #06FF6B;

}
.swiper-slide__desc{
    width: 35%;
    margin-top: 30px;
}
.swiper-slide__desc h1{

    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: rgb(228, 228, 228);
}
.swiper-slide__desc p{
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; 
    color: #6D6D6D;
}
.swiper-slide__desc  a{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
    width: 150px;
    padding: 15px 0;
    background-color: transparent;
    border: 1px solid #06FF6B;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    position: relative;
    overflow: hidden;

}
.swiper-slide__desc a span{
    box-sizing: border-box; 
    position: absolute;
    background-color: #06FF6B;
    width: 0;
    height: 103%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .3s;
}
.swiper-slide__desc a:hover span{
    box-sizing: border-box;
    width: 101%;
    transition: .3s;
}
.swiper-slide__desc a:hover{
    border: none;
   box-sizing: border-box;
}
.swiper-slide__desc  a svg{
    fill: #fff;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    
}
.swiper-button-prev::after,.swiper-button-next::after{
    content: '';
    display: none;
}
.fas{
    color: #06FF6B;
    font-size: 2rem;
}
.swiper-pagination > .swiper-container-horizontal > .swiper-pagination-bullets{
    margin-top: 100px;
}
.swiper-pagination-bullet-active{
    background-color: red
}
/* contact */
.contact{
    min-height: 300px;
}
.contact__info {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.contact__info h1{
    margin-top: 30px;
    font-size: 2rem;
    margin-bottom: 0;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}
.contact__info p {
    margin: 0;
    text-align: center;
    color: #6D6D6D;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; 
}
.contact__box{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
.contact__box__links{
   width: 50%; 
   margin-top: 30px;
}
.contact__box__links ul{
    list-style-type: none;
}
.contact__box__links ul li{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.contact__box__links ul li p{
   margin-left: 10px;
   color: #fff;
}
.contact__box__links li svg{
    width: 25px;
    height: 25px;
    fill:#06FF6B ;
}
.contact__box__photo{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.contact__box__photo img{
    transform: rotate(-35deg);
    width: 250px;
    height: 250px;
    opacity: .1;
}
/* footer */
footer{
    display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
}
.footer__left{
    width: 60%;
}
.footer__left h1{
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
.footer__left h2{
    color: #6D6D6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; 
}
.footer__left p{
    margin-top: 20px;
    display: flex;
    color: #646464;
    align-items: center;
}
.footer__left p svg{
    width: 20px;
    height: 20px;
    fill: #006A2B;
    margin-right: 5px;
}
.footer__right{
    width: 40%;
}
.footer__right__text{
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.footer__right__links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 20px auto;
}
.footer__right__links a svg{
    width: 35px;
    height: 35px;
    fill: #06FF6B;
    transition: .2s;
}
.footer__right__links a svg:hover{
    transition: .2s;
    transform: translateY(-5px);

}
.shadowFooter{
    width: 100%;
    height: 1px;
    box-shadow: 0px 0px 73px 22px rgba(6, 255, 107, 0.25);
}

[data-aos="forHtmlText"].aos-animate{
    width: 85%;
}

[data-aos="forCssText"].aos-animate{
    width: 80%;
}

[data-aos="forJsText"].aos-animate{
    width: 55%;
}

[data-aos="forAngularText"].aos-animate{
    width: 60%;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes round{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes increase{
    0%{
        transform: scale(0);
        transition: .2s;
    }
    70%{
        transform: scale(2.4);
        transition: .2s;
    }
    100%{
        transform: scale(0);
    }
}
@keyframes upp{
    0%{
       
    }
    50%{
        transform: translateY(10px)
    }
    100%{
        transform: translateY(0px)
    }
}

